# <p align="center">{{ project_name }}</p>

{% block main_image %}

{% endblock %}

---

## ToC

{% block toc %}

{% endblock %}

---

{% block brief_description %}

{% endblock %}

---

## Installation

{% block installation %}

{% endblock %}

---

## Usage

{% block usage %}

{% endblock %}

---

## Description

{% block description %}

{% endblock %}

---

## Features

{% block features %}

{% endblock %}

---

## Dependencies

{% block dependencies %}

{% endblock %}

---

## License

{{ license }}

---

## Development

{% block development %}

{% endblock %}

---

## See also

{% block see_also %}

{% endblock %}
