# Cogs Info

{% block title_image %}

{% endblock %}

---

## ToC

{% block toc %}

{% endblock %}

---

## Info

{% block cog_data %}

{% endblock %}


## Special Permission Commands

### Admin Lead Only

{% block admin_lead_only_command_list %}

{% endblock %}

## Misc

{% block misc %}

{% endblock %}